@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.cdnfonts.com/css/maven-pro-2");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");
@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.cdnfonts.com/css/exo-4");
@import url("https://fonts.cdnfonts.com/css/bakbak-one");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.slanted-corners {
  position: relative;
  overflow: hidden;
  clip-path: polygon(
    0% 60px,
    60px 0%,
    calc(100% - 0px) 0%,
    100% 20px,
    100% calc(100% - 60px),
    calc(100% - 60px) 100%,
    20px 100%,
    0 calc(100% - 0px)
  );
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #E8E8E8;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #7A7A7A;
}

.react-multiple-carousel__arrow {
  top: 50%;
  transform: translateY(-50%);
  background: #000;
}

